Node-red Flows(export file json)/flows.json
[{"id":"fab37ab1.c37468","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"769212ff.c1d5cc","type":"wiotp-credentials","z":"","name":"","org":"tm8dr6","serverName":"","devType":"data","devId":"2","keepalive":"1","cleansession":false,"tls":"","usetls":false},{"id":"3fb04207.fbdc6e","type":"wiotp-credentials","z":"","name":"","org":"tm8dr6","serverName":"","devType":"all","devId":"1","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"e46b92a3.6da4","type":"wiotp-credentials","z":"","name":"","org":"tm8dr6","serverName":"","devType":"temp-data","devId":"256","keepalive":"60","cleansession":false,"tls":"","usetls":false},{"id":"ad4ead29.7a74b","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"e8dddb2a.3aa568","type":"ui_group","z":"","name":"Iot Simulator","tab":"7640841e.c3391c","order":1,"disp":true,"width":"6","collapse":false},{"id":"e3248c0b.470db","type":"ui_group","z":"","name":"API","tab":"ff6d75ec.e63608","order":1,"disp":true,"width":"6","collapse":false},{"id":"7640841e.c3391c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"ff6d75ec.e63608","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"e49305dc.0f7148","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Georgia,Georgia,serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Georgia,Georgia,serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"ffcf5239.b65f9","type":"ui_group","z":"","name":"Open Weather API Data","tab":"7640841e.c3391c","order":2,"disp":true,"width":6,"collapse":false},{"id":"5b43cea.3fbf83","type":"ui_group","z":"","name":"Motor Control","tab":"7640841e.c3391c","order":3,"disp":true,"width":"6","collapse":false},{"id":"79cfc6ce.596118","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"1026f23a.e105fe","type":"wiotp-credentials","z":"","name":"","org":"tm8dr6","serverName":"","devType":"motor","devId":"456","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"eaba9619.8262b8","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"b588d894.009cc8","type":"wiotp-credentials","z":"","name":"","org":"tm8dr6","serverName":"","devType":"command","devId":"3","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"519abfee.cde8e","type":"debug","z":"fab37ab1.c37468","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":250,"y":60,"wires":[]},{"id":"15ef2b92.7c5b94","type":"wiotp out","z":"fab37ab1.c37468","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"e46b92a3.6da4","deviceType":"","deviceId":"","event":"something","format":"json","qos":"","name":"","x":650,"y":180,"wires":[]},{"id":"5e33e89.40dd518","type":"http request","z":"fab37ab1.c37468","name":"Open Weather API data","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=london&units=imperial&appid=9013d80b62f8e1ad7a7fd0419340ddbb","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":240,"wires":[["55c559be.dbe108","f6e2cc47.c4d89","b432e54a.bf8698"]]},{"id":"2c170096.b7fe8","type":"inject","z":"fab37ab1.c37468","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":"10","x":190,"y":260,"wires":[["5e33e89.40dd518"]]},{"id":"55c559be.dbe108","type":"debug","z":"fab37ab1.c37468","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":690,"y":240,"wires":[]},{"id":"ccce2768.271f28","type":"ui_text","z":"fab37ab1.c37468","group":"ffcf5239.b65f9","order":1,"width":0,"height":0,"name":"Temp","label":"Temperature API","format":"{{msg.payload}}","layout":"row-spread","x":770,"y":340,"wires":[]},{"id":"58b34875.f12328","type":"ui_text","z":"fab37ab1.c37468","group":"ffcf5239.b65f9","order":2,"width":0,"height":0,"name":"Humidity","label":"Humidity API","format":"{{msg.payload}}","layout":"row-spread","x":760,"y":380,"wires":[]},{"id":"f6e2cc47.c4d89","type":"change","z":"fab37ab1.c37468","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":340,"wires":[["ccce2768.271f28"]]},{"id":"b432e54a.bf8698","type":"change","z":"fab37ab1.c37468","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":380,"wires":[["58b34875.f12328"]]},{"id":"133809fc.4e9966","type":"change","z":"fab37ab1.c37468","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":40,"wires":[["fd9de7e.e0c4b18"]]},{"id":"c9c9fbd8.f0f768","type":"change","z":"fab37ab1.c37468","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":80,"wires":[["f8e87244.3af1e"]]},{"id":"f8e87244.3af1e","type":"ui_text","z":"fab37ab1.c37468","group":"e8dddb2a.3aa568","order":2,"width":0,"height":0,"name":"Humidity Iot","label":"Humidity Iot","format":"{{msg.payload}}","layout":"row-spread","x":690,"y":80,"wires":[]},{"id":"fd9de7e.e0c4b18","type":"ui_text","z":"fab37ab1.c37468","group":"e8dddb2a.3aa568","order":1,"width":0,"height":0,"name":"Temperature Iot","label":"Temperature Iot","format":"{{msg.payload}}","layout":"row-spread","x":700,"y":40,"wires":[]},{"id":"5426c72c.8efed8","type":"ui_text","z":"fab37ab1.c37468","group":"e8dddb2a.3aa568","order":3,"width":0,"height":0,"name":"Object Temperature Iot","label":"Object temperature Iot","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":120,"wires":[]},{"id":"bad46523.706398","type":"change","z":"fab37ab1.c37468","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.d.objectTemp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":120,"wires":[["5426c72c.8efed8"]]},{"id":"f2858bd7.6b7628","type":"ui_button","z":"fab37ab1.c37468","name":"Motor On","group":"5b43cea.3fbf83","order":1,"width":0,"height":0,"passthru":true,"label":"Motor On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\": \"lighton\" }","payloadType":"json","topic":"","x":200,"y":420,"wires":[["a7826648.42c0d8","9f4c3ac4.df7a98","6f959dc.8836364"]]},{"id":"111b29c9.1b3086","type":"ui_button","z":"fab37ab1.c37468","name":"Motor OFF","group":"5b43cea.3fbf83","order":3,"width":0,"height":0,"passthru":false,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\": \"lightoff\" }","payloadType":"json","topic":"","x":210,"y":520,"wires":[["a7826648.42c0d8","9f4c3ac4.df7a98","1d524e8c.a764f1"]]},{"id":"a7826648.42c0d8","type":"wiotp out","z":"fab37ab1.c37468","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"1026f23a.e105fe","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":610,"y":440,"wires":[]},{"id":"9f4c3ac4.df7a98","type":"ibmiot out","z":"fab37ab1.c37468","authentication":"apiKey","apiKey":"79cfc6ce.596118","outputType":"cmd","deviceId":"3","deviceType":"command","eventCommandType":"cmd","format":"json","data":"{}","qos":0,"name":"Motors","service":"registered","x":610,"y":500,"wires":[]},{"id":"f8278eec.2e81a","type":"ibmiot in","z":"fab37ab1.c37468","authentication":"apiKey","apiKey":"79cfc6ce.596118","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1","applicationId":"","deviceType":"+","eventType":"iotsensor","commandType":"","format":"json","name":"Data From Sensors","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":true,"allEvents":false,"allCommands":true,"allFormats":true,"qos":0,"x":170,"y":180,"wires":[["133809fc.4e9966","c9c9fbd8.f0f768","bad46523.706398","519abfee.cde8e","15ef2b92.7c5b94"]]},{"id":"6f959dc.8836364","type":"ui_toast","z":"fab37ab1.c37468","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"Motor is On","name":"","x":780,"y":500,"wires":[]},{"id":"1d524e8c.a764f1","type":"ui_toast","z":"fab37ab1.c37468","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"Motor is OFF","name":"","x":780,"y":440,"wires":[]}]